

<div fxFlex fxLayout="row wrap" *ngIf="(displayForm || showResult) && !isLoading">
  <div class="font-size-18" *ngIf="electionData.length">  Position and candidates </div>
  <div fxFlex="100" fxLayout="row wrap" >
    <div class="w-300 m-20" *ngFor="let item of electionData">
      <mat-card >
        <div fxLayout="row" fxLayoutAlign="space-between" class="pb-5">
          <div fxLayoutAlign="start" fxFlex class="font-size-18 font-weight-bold text-uppercase">
              {{item.name}}
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="pt-10 ph-10" >
          <div class="pv-5 font-size-18" fxLayoutAlign="start" *ngFor="let candidates of item.candidates">

            <div class="text-capitalize"> {{candidates.name}} </div>
            <div class="ph-20" *ngIf="showResult">{{candidates.total_vote}}</div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- <div fxFlex fxLayout="column wrap" fxLayoutAlign="center center" class="mt-50" *ngIf="!showResult">
    <button mat-button matBadge="8" matBadgePosition="before" matBadgeColor="primary" class="apply-btn" (click)="addPosition()" [disabled]="isDisabled">
      <span>Add Position</span>
    </button>
  </div> -->



  <div fxFlex fxLayout="column wrap" fxLayoutAlign="center center" class="mt-50" *ngIf="!showResult">
    <div class="election-date-box">
      <div class="pb-20 font-size-18 font-weight-600"> Election Date </div>
      <div>
        <div fxLayout="column">
          <!-- <mat-form-field> -->
            <div class="primary-fg font-size-16 pv-10">Start Date</div>
            <input [owlDateTime]="start_date" [(ngModel)]="electionDate.start_date" [owlDateTimeTrigger]="start_date" placeholder="Date Time">
            <owl-date-time #start_date></owl-date-time>
          <!-- </mat-form-field> -->
        </div>

        <div fxLayout="column">
          <!-- <mat-form-field> -->
            <div class="primary-fg font-size-16 pv-10">End Date</div>
            <input [owlDateTime]="expiry_date" [(ngModel)]="electionDate.expiry_date" [owlDateTimeTrigger]="expiry_date" placeholder="Date Time">
            <owl-date-time #expiry_date></owl-date-time>
          <!-- </mat-form-field> -->
        </div>

        <div fxLayout="column" class="pt-20">
          <button mat-button matBadge="8" matBadgePosition="before" matBadgeColor="primary" class="apply-btn" (click)="submitDate(electionDate)" [disabled]="isDisabled" *ngIf="!changeTime">
            <span>Submit</span>
          </button>

          <button mat-button matBadge="8" matBadgePosition="before" matBadgeColor="primary" class="apply-btn" (click)="UpdateDate(electionDate)" [disabled]="isDisabled" *ngIf="changeTime">
            <span>Change</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<div fxFlex fxLayout="column wrap" fxLayoutAlign="center center" class="mt-50 font-size-18"  *ngIf="!displayForm && !showResult && !isLoading">
  Result will display after {{electionTime.expiry_date | date:'dd-MM-yyyy'}}
</div>

<div fxFlex fxLayout="column wrap" fxLayoutAlign="center center" class="mt-50 font-size-18"  *ngIf="isLoading">
  Loading data ...
</div>
