<div fxLayout="row wrap" fxFlex=100 class="toolbar-container">
  <div id="menu" fxFlex="100" class="white-bg" fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="end center" class="w-140">

    </div>

    <div fxFlex class="menu_right" fxLayoutAlign="end center">
      <button mat-button matBadge="8" matBadgePosition="before" matBadgeColor="primary" class="apply-btn" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
</div>
